body{
    font-family: "Courier New", serif;
    color: green;
    font-size: 16px;
}

h1, h2, h3, h4,
strong{
    font-family: 'Special Elite', "Courier New", serif;
}


h1{
    font-size: 5rem;
}
strong{
    font-size: 1.1em;
}

.navbar-brand{
    height: auto;
}
textarea{
    width: 100%;
    height: 300px;
}
input.delete{
    color: #fff;
    background: red;
    border-radius: 8px
}
input{
    color: #232121;

    background: #f6e58d;

    border-radius: 8px;

    margin-bottom: 10px;

    margin-top: 10px;

    width: 30%;
}